/**
 * Toggle
 * --------------------------------------------------
 */
.item-toggle {
  pointer-events: none; }

.toggle {
  position: relative;
  display: inline-block;
  pointer-events: auto;
  margin: -5px;
  padding: 5px; }
  .toggle input:checked + .track {
    border-color: #4cd964;
    background-color: #4cd964; }
  .toggle.dragging .handle {
    background-color: #f2f2f2 !important; }

.toggle.toggle-light input:checked + .track {
  border-color: #ddd;
  background-color: #ddd; }

.toggle.toggle-stable input:checked + .track {
  border-color: #b2b2b2;
  background-color: #b2b2b2; }

.toggle.toggle-positive input:checked + .track {
  border-color: #387ef5;
  background-color: #387ef5; }

.toggle.toggle-calm input:checked + .track {
  border-color: #11c1f3;
  background-color: #11c1f3; }

.toggle.toggle-assertive input:checked + .track {
  border-color: #ef473a;
  background-color: #ef473a; }

.toggle.toggle-balanced input:checked + .track {
  border-color: #33cd5f;
  background-color: #33cd5f; }

.toggle.toggle-energized input:checked + .track {
  border-color: #ffc900;
  background-color: #ffc900; }

.toggle.toggle-royal input:checked + .track {
  border-color: #886aea;
  background-color: #886aea; }

.toggle.toggle-dark input:checked + .track {
  border-color: #444;
  background-color: #444; }

.toggle input {
  display: none; }