 <!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>商品管理</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    
	<link href="../static/admin/css/ionic.css" rel="stylesheet">
</head>

<body class="gray-bg">
    
										<label class="toggle toggle-positive">
										  <input type="checkbox" checked="">
										  <div class="track"><div class="handle"></div></div></label>
									



<!--开关JS-->
<script src="../static/admin/js/ionic.bundle.min.js"></script>


<script>

</script>




</body>

</html>

		
		
		
		
		
		
		
		
		
		
		
	</body>
</html>


