<!doctype html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>列表</title>
		<link rel="stylesheet" type="text/css" href="../static/user/css/base.css" />
		<link rel="stylesheet" type="text/css" href="../static/user/css/style.css" />
		<script type="text/javascript" src="../static/user/js/jquery.min.js"></script>
		<script type="text/javascript" src="../static/user/js/jquery.SuperSlider.js"></script>
	</head>

	<body>
		<div class="w1200_container" style="min-height: 600px;">
			<div class="hot_tj_container">
				<div class="hot_tj">热门推荐</div>
				<div class="hot_tj_list">
					<ul>
						<li>
							<div class="item">
								<div class="p_img">
									<a href="goodsInfo.html" target="displayArea">
										<img src="../static/user/images/commend.jpg" />
									</a>
								</div>
								<div class="p_name">
									<a href="goodsInfo.html" title="Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量" target="displayArea">
										Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量
									</a>
								</div>
								<div class="p_price">
									<em>￥</em>7800.00
								</div>
								<div class="p_btn">
									<a href="goodsInfo.html" target="displayArea">立即购买</a>
								</div>
							</div>
						</li>
						<li>
							<div class="item">
								<div class="p_img">
									<a href="goodsInfo.html" target="displayArea">
										<img src="../static/user/images/commend1.jpg" />
									</a>
								</div>
								<div class="p_name">
									<a href="goodsInfo.html" title="Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量" target="displayArea">
										Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量
									</a>
								</div>
								<div class="p_price">
									<em>￥</em>7800.00
								</div>
								<div class="p_btn">
									<a href="goodsInfo.html" target="displayArea">立即购买</a>
								</div>
							</div>
						</li>
						<li>
							<div class="item">
								<div class="p_img">
									<a href="goodsInfo.html" target="displayArea">
										<img src="../static/user/images/commend2.jpg" />
									</a>
								</div>
								<div class="p_name">
									<a href="goodsInfo.html" title="Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量" target="displayArea">
										Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量
									</a>
								</div>
								<div class="p_price">
									<em>￥</em>7800.00
								</div>
								<div class="p_btn">
									<a href="goodsInfo.html" target="displayArea">立即购买</a>
								</div>
							</div>
						</li>
						<li class="last">
							<div class="item">
								<div class="p_img">
									<a href="goodsInfo.html" target="displayArea">
										<img src="../static/user/images/commend2.jpg" />
									</a>
								</div>
								<div class="p_name">
									<a href="goodsInfo.html" title="Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量" target="displayArea">
										Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量
									</a>
								</div>
								<div class="p_price">
									<em>￥</em>7800.00
								</div>
								<div class="p_btn">
									<a href="goodsInfo.html" target="displayArea">立即购买</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
			<div class="goods_show_con">
				<div class="picFocus1">
					<div class="bd">
						<div class="tempWrap">
							<ul>
								<li>
									<a target="displayArea" href="#"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="#"><img src="../static/user/images/goods_list1.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="#"><img src="../static/user/images/goods_list2.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="#"><img src="../static/user/images/goods_list3.jpg"></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="hd">
						<ul>
							<li class="on"><img src="../static/user/images/goods_list.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list1.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list2.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list3.jpg"></li>
						</ul>
					</div>
					<div class="p_mount">
						<div class="p_price">
							<em>￥</em>69.00
						</div>
						<div class="p_num">
							已售<em>10</em>件
						</div>
					</div>
					<div class="p_name">
						<a href="goodsInfo.html" title="Sony/索尼 KDL-48W650D 48英寸液晶高清 wifi网络 平板电视 正品保证 三期免息 咨询有礼 售后上门" target="displayArea">
							Sony/索尼 KDL-48W650D 48英寸液晶高清 wifi网络 平板电视 正品保证 三期免息 咨询有礼 售后上门
						</a>
					</div>
					<div class="in_cart">
						<span title="网站自营，品质保障">自营</span>
						<span title="该商品参与满减活动">满减</span>
						<div class="in_ca">
							<i><img src="../static/user/images/icon/cart2.png"/></i>
							<a href="goodsInfo.html">加入购物车</a>
						</div>
					</div>
				</div>
				<div class="picFocus1">
					<div class="bd">
						<div class="tempWrap">
							<ul>
								<li>
									<a target="displayArea" href="goodsInfo.html"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="goodsInfo.html"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="goodsInfo.html"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="goodsInfo.html"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="hd">
						<ul>
							<li class="on"><img src="../static/user/images/goods_list.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list.jpg"></li>
						</ul>
					</div>
					<div class="p_mount">
						<div class="p_price">
							<em>￥</em>69.00
						</div>
						<div class="p_num">
							已售<em>10</em>件
						</div>
					</div>
					<div class="p_name">
						<a href="goodsInfo.html" title="Sony/索尼 KDL-48W650D 48英寸液晶高清 wifi网络 平板电视 正品保证 三期免息 咨询有礼 售后上门" target="displayArea">
							Sony/索尼 KDL-48W650D 48英寸液晶高清 wifi网络 平板电视 正品保证 三期免息 咨询有礼 售后上门
						</a>
					</div>
					<div class="in_cart">
						<span title="网站自营，品质保障">自营</span>
						<span title="该商品参与满减活动">满减</span>
						<div class="in_ca">
							<i><img src="../static/user/images/icon/cart2.png"/></i>
							<a href="#">加入购物车</a>
						</div>
					</div>
				</div>
				<div class="picFocus1">
					<div class="bd">
						<div class="tempWrap">
							<ul>
								<li>
									<a target="displayArea" href="#"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="#"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="#"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="#"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="hd">
						<ul>
							<li class="on"><img src="../static/user/images/goods_list.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list.jpg"></li>
						</ul>
					</div>
					<div class="p_mount">
						<div class="p_price">
							<em>￥</em>69.00
						</div>
						<div class="p_num">
							已售<em>10</em>件
						</div>
					</div>
					<div class="p_name">
						<a href="#" title="Sony/索尼 KDL-48W650D 48英寸液晶高清 wifi网络 平板电视 正品保证 三期免息 咨询有礼 售后上门" target="displayArea">
							Sony/索尼 KDL-48W650D 48英寸液晶高清 wifi网络 平板电视 正品保证 三期免息 咨询有礼 售后上门
						</a>
					</div>
					<div class="in_cart">
						<span title="网站自营，品质保障">自营</span>
						<span title="该商品参与满减活动">满减</span>
						<div class="in_ca">
							<i><img src="../static/user/images/icon/cart2.png"/></i>
							<a href="#">加入购物车</a>
						</div>
					</div>
				</div>
				<div class="picFocus1">
					<div class="bd">
						<div class="tempWrap">
							<ul>
								<li>
									<a target="displayArea" href="#"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="#"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="#"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="#"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="hd">
						<ul>
							<li class="on"><img src="../static/user/images/goods_list.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list.jpg"></li>
						</ul>
					</div>
					<div class="p_mount">
						<div class="p_price">
							<em>￥</em>69.00
						</div>
						<div class="p_num">
							已售<em>10</em>件
						</div>
					</div>
					<div class="p_name">
						<a href="#" title="Sony/索尼 KDL-48W650D 48英寸液晶高清 wifi网络 平板电视 正品保证 三期免息 咨询有礼 售后上门" target="displayArea">
							Sony/索尼 KDL-48W650D 48英寸液晶高清 wifi网络 平板电视 正品保证 三期免息 咨询有礼 售后上门
						</a>
					</div>
					<div class="in_cart">
						<span title="网站自营，品质保障">自营</span>
						<span title="该商品参与满减活动">满减</span>
						<div class="in_ca">
							<i><img src="../static/user/images/icon/cart2.png"/></i>
							<a href="goodsInfo.html">加入购物车</a>
						</div>
					</div>
				</div>
				
				<div class="picFocus1">
					<div class="bd">
						<div class="tempWrap">
							<ul>
								<li>
									<a target="displayArea" href="goodsInfo.html"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="goodsInfo.html"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="goodsInfo.html"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
								<li>
									<a target="displayArea" href="goodsInfo.html"><img src="../static/user/images/goods_list.jpg"></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="hd">
						<ul>
							<li class="on"><img src="../static/user/images/goods_list.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list.jpg"></li>
							<li class=""><img src="../static/user/images/goods_list.jpg"></li>
						</ul>
					</div>
					<div class="p_mount">
						<div class="p_price">
							<em>￥</em>69.00
						</div>
						<div class="p_num">
							已售<em>10</em>件
						</div>
					</div>
					<div class="p_name">
						<a href="goodsInfo.html" title="Sony/索尼 KDL-48W650D 48英寸液晶高清 wifi网络 平板电视 正品保证 三期免息 咨询有礼 售后上门" target="displayArea">
							Sony/索尼 KDL-48W650D 48英寸液晶高清 wifi网络 平板电视 正品保证 三期免息 咨询有礼 售后上门
						</a>
					</div>
					<div class="in_cart">
						<span title="网站自营，品质保障">自营</span>
						<span title="该商品参与满减活动">满减</span>
						<div class="in_ca">
							<i><img src="../static/user/images/icon/cart2.png"/></i>
							<a href="#">加入购物车</a>
						</div>
					</div>
				</div>
			</div>
			<div class="succeed hide">
				<section class="model_bg"></section>
				<section class="tianjia_su">
					<p>添加购物车成功</p>
				</section>
			</div>
		</div>
		
		<!--右侧红包栏-->
		<div class="bk_foot_redbag">
			<a href="#" id="red_bag">
				<img src="../static/user/images/red_package.png" width="100%" alt="">
			</a>
			<span class="closehd"></span>
		</div>
		<div class="red_bag">
			<span class="hide font"><label for="">10</label>元红包砸中了您</span><br />
			<button class="hide font" id="ensure">确定</button>
		</div>
	</body>
	<script type="text/javascript" src="../static/user/js/kuCity.js"></script>
	<script>
		$('.li_dorpdown').hover(function() {
			$('.dorpdown-layer').show();
		});
		$('.li_dorpdown').mouseleave(function() {
			$('.dorpdown-layer').hide();
		});
		$('.icon-close').click(function() {
			$('.top_banner').hide();
		});
		$('.my_center_box_left a').hover(function() {

		});
		$('.cate-layer-right-slide img').mouseenter(function() {

			$(this).delay('300').animate(300);
		});
		$('.cate-layer-right-slide img').mouseleave(function() {
			$(this).css('border', 'none')
		});

		//		$('.categorys-type').mouseenter(function(){
		//			$('.categorys-tab-content').show();
		//		});
		//		$('.categorys-type').mouseleave(function(){
		//			$('.categorys-tab-content').hide();
		//		});
	</script>
	<script>
		$('.search').kuCity();
		$("#lun2").slide({
			autoplay: true,
			autoTime: 5000,
		});
	</script>
	<!--滚动展示-->
	<script type="text/javascript">
		

		$(function() {

			$("div.ranklist").myScroll({
				speed: 50,
				rowHeight: 50
			});

		});
		$(".closehd").click(function() { //右下角红包图标点击变小
			$(this).hide();
			$('.bk_foot_redbag a').animate({
				width: '80px',
				height: '100px'
			});
		});
		$('#red_bag').click(function() {
			$(this).hide();
			$('.closehd').hide();
			$('.font').show();
			$('.font').css('display', 'inline-block')
			$('.red_bag').animate({
				width: '400px',
				height: '300px'
			});
		});
		$('#ensure').click(function() {
			$('.red_bag').fadeOut();
		});
		$('#red_bag').click(function() {
			$(this).hide();
			$('.closehd').hide();
			$('.font').show();
			$('.font').css('display', 'inline-block')
			$('.red_bag1').animate({
				width: '400px',
				height: '300px'
			});
		});
		$('#ensure').click(function() {
			$('.red_bag1').fadeOut();
		});
		
		//添加成功
		$('.in_ca').click(function(){
			$('.succeed').show();
			$(function () {
    		setTimeout(function () {
       			$(".succeed").fadeOut();
    		}, 1000);
			})
		});
	</script>
	<script type="text/javascript">
		jQuery(".picFocus1").slide({ mainCell: ".bd ul", effect: "left", });
	</script>
	

</html>