<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=0.1,user-scalable=yes">
		<meta http-equiv ="Content-Security-Policy" content="upgrade-insecure-requests">
		<title>cart</title>
	<link rel="stylesheet" type="text/css" href="../static/user/css/base.css" />
	<link rel="stylesheet" type="text/css" href="../static/user/css/style.css" />
	</head>
	<body>
		<div >
			<div class="wrapper clearfix">
			<div class="cart mt">
				<div class="site">
				</div>
				<div class="site" id = "htmlAll">
				</div>
			</div>
			

		</div>
		
	</body>
	<script src="../static/user/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="application/javascript" src="../static/user/js/jquery.cookie.js"></script>
	<script type="application/javascript" src = "../static/user/myjs/cart.js" charset="UTF-8"></script>
</html>
