<!doctype html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="../static/user/css/base.css" />
		<link rel="stylesheet" type="text/css" href="../static/user/css/style.css" />
		<link rel="stylesheet" href="../static/user/css/slide.css" />
	</head>

	<body>
		<!--轮播图-->
		<div class="slide" id="lun2" style="">
			<div class="carouse" style="min-width: 1200px;position:relative;margin-top: 0px;">
				<div class="slideItem">
					<a href="#" target="displayArea"><img class="banner-img" src="../static/user/images/banner4.jpg" style="height: 500px;"></a>
				</div>
				<div class="slideItem">
					<a href="#" target="displayArea"><img class="banner-img" src="../static/user/images/banner5.jpg" style="height: 500px;"></a>
				</div>
				<div class="slideItem">
					<a href="#" target="displayArea"><img class="banner-img" src="../static/user/images/banner6.jpg" style="height: 500px;"></a>
				</div>
				<!--<a class="carousel-control left Next"></a>
				<a class="carousel-control right Previous"></a>-->
			</div>
			<!-- 轮播底部圆点 -->
			<div class="dotList"></div>
		</div>
		
		
		<div class="need-channel clearfix" id="h-need">
			<div class="channel-column" style="background:url(templates/static/user/images/channel_bg1.jpg) no-repeat;">
				<div class="column-title">
					<h3>优质新品</h3>
					<p>专注生活美学</p>
				</div>
				<div class="column-img"><img src="../static/user/images/channel.png"></div>
				<a href="#" target="displayArea" class="column-btn">去看看</a>
			</div>
			<div class="channel-column" style="background:url(templates/static/user/images/channel_bg2.jpg)  no-repeat;">
				<div class="column-title">
					<h3>品牌精选</h3>
					<p>潮牌尖货 初春换新</p>
				</div>
				<div class="column-img"><img src="../static/user/images/channel.png"></div>
				<a href="#" target="displayArea" class="column-btn">去看看</a>
			</div>
			<div class="channel-column" style="background:url(templates/static/user/images/channel_bg3.jpg) no-repeat;">
				<div class="column-title">
					<h3>潮流女装</h3>
					<p>春装流行款抢购</p>
				</div>
				<div class="column-img"><img src="../static/user/images/channel.png"></div>
				<a href="#" target="displayArea" class="column-btn">去看看</a>
			</div>
			<div class="channel-column" style="background:url(templates/static/user/images/channel_bg4.jpg) no-repeat;">
				<div class="column-title">
					<h3>人气美鞋</h3>
					<p>新外貌“鞋”会</p>
				</div>
				<div class="column-img"><img src="../static/user/images/channel.png"></div>
				<a href="#" target="displayArea" class="column-btn">去看看</a>
			</div>
			<div class="channel-column" style="background:url(templates/static/user/images/channel_bg5.jpg) no-repeat;">
				<div class="column-title">
					<h3>护肤彩妆</h3>
					<p>春妆必买清单 低至3折</p>
				</div>
				<div class="column-img"><img src="../static/user/images/channel.png"></div>
				<a href="#" target="displayArea" class="column-btn">去看看</a>
			</div>
		</div>
		
		<div class="w1200_container">
			
			<div class="clear"></div>
			<!--达人专区-->
			<div class="enjoy_title">
				<h3>达人专区</h3>
			</div>
			<div class="mastor_con">
				<div class="mastor_part" style="background: url(templates/static/user/images/vip1.jpg); center center no-repeat">
					<div class="master_main">
						<div class="mastor_title">
							<h3>纯棉质品</h3>
							<span>把好货带回家</span>
						</div>
						<a href="#" class="master_btn" target="displayArea" style="color:#7bd1f6;;">去见识</a>
						<div class="master_img">
							<a href="#" target="displayArea">
								<img src="../static/user/images/vip_shop1.png">
							</a> 
						</div>
					</div>
				</div>
				<div class="mastor_part" style="background: url(templates/static/user/images/vip2.jpg); center center no-repeat">
					<div class="master_main">
						<div class="mastor_title">
							<h3>团购热卖</h3>
							<span>都是好货</span>
						</div>
						<a href="#" class="master_btn" target="displayArea" style="color:#f75674;">去见识</a>
						<div class="master_img">
							<a href="#" target="displayArea">
								<img src="../static/user/images/vip_shop2.png">
							</a>
						</div>
					</div>
				</div>
				<div class="mastor_part" style="background: url(templates/static/user/images/vip3.jpg); center center no-repeat">
					<div class="master_main">
						<div class="mastor_title">
							<h3>团购热卖</h3>
							<span>每一款都是好货</span>
						</div>
						<a href="#" class="master_btn" target="displayArea" style="color:#ff889e;">去见识</a>
						<div class="master_img">
							<a href="#" target="displayArea">
								<img src="../static/user/images/vip_shop3.png">
							</a>
						</div>
					</div>
				</div>
				<div class="mastor_part" style="background: url(templates/static/user/images/vip4.jpg); center center no-repeat">
					<div class="master_main">
						<div class="mastor_title">
							<h3>舒适童鞋</h3>
							<span>帮宝宝走路</span>
						</div>
						<a href="#" class="master_btn" target="displayArea" style="color:#cd51eb;">去见识</a>
						<div class="master_img">
							<a href="#" target="displayArea">
								<img src="../static/user/images/vip_shop4.png">
							</a>
						</div>
					</div>
				</div>
				<div class="mastor_part" style="background: url(templates/static/user/images/vip5.jpg); center center no-repeat">
					<div class="master_main">
						<div class="mastor_title">
							<h3>舒适运动鞋</h3>
							<span>品牌直降</span>
						</div>
						<a href="#" class="master_btn" target="displayArea" style="color:#43dd72;">去见识</a>
						<div class="master_img">
							<a href="#" target="displayArea">
								<img src="../static/user/images/vip_shop5.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			
			<div class="enjoy_title">
				<h3>还没逛够</h3>
			</div>
			<div class="no_enough">
				<ul>
					<li class="opacity_img1">
						<a href="goodsInfo.html" target="displayArea">
							<div class="p_img">
								<img src="../static/user/images/no_enough1.jpg" />
							</div>
							<div class="no_ename" title="【情侣款】Camel骆驼男靴 时尚潮流英伦风马丁靴高帮皮靴 爆卖1万双！ 情侣马丁靴 好评如潮">
								【情侣款】Camel骆驼男靴 时尚潮流英伦风马丁靴高帮皮靴 爆卖1万双！ 情侣马丁靴 好评如潮
							</div>
							<div class="no_eprice">
								<em>¥</em>555.00
							</div>
						</a>
					</li>
					<li class="opacity_img1">
						<a href="goodsInfo.html" target="displayArea">
							<div class="p_img">
								<img src="../static/user/images/no_enough2.jpg" />
							</div>
							<div class="no_ename" title="春季马丁靴男真皮男靴黄靴工装军靴韩版短靴沙漠靴高帮男鞋大黄靴 头层牛皮">
								春季马丁靴男真皮男靴黄靴工装军靴韩版短靴沙漠靴高帮男鞋大黄靴 头层牛皮
							</div>
							<div class="no_eprice">
								<em>¥</em>555.00
							</div>
						</a>
					</li>
					<li class="opacity_img1">
						<a href="goodsInfo.html" target="displayArea">
							<div class="p_img">
								<img src="../static/user/images/no_enough3.jpg" />
							</div>
							<div class="no_ename" title="特步女鞋2017春季新款运动鞋休闲鞋女慢跑步鞋旅游鞋轻便舒适时尚 早春特惠 爆款休闲女鞋 赠运费险">
								特步女鞋2017春季新款运动鞋休闲鞋女慢跑步鞋旅游鞋轻便舒适时尚 早春特惠 爆款休闲女鞋 赠运费险
							</div>
							<div class="no_eprice">
								<em>¥</em>555.00
							</div>
						</a>
					</li>
					<li class="opacity_img1">
						<a href="goodsInfo.html" target="displayArea">
							<div class="p_img">
								<img src="../static/user/images/no_enough4.jpg" />
							</div>
							<div class="no_ename" title="新款韩版chic学生宽松短款外套上衣字母长袖连帽套头卫衣女潮">
								新款韩版chic学生宽松短款外套上衣字母长袖连帽套头卫衣女潮
							</div>
							<div class="no_eprice">
								<em>¥</em>555.00
							</div>
						</a>
					</li>
					<li class="opacity_img1">
						<a href="goodsInfo.html" target="displayArea">
							<div class="p_img">
								<img src="../static/user/images/no_enough5.jpg" />
							</div>
							<div class="no_ename" title="igtt铝框行李箱拉杆箱旅行箱万向轮男女20/24/26寸密码箱登机箱子 铝合金框 加强密码锁 万向轮 终身保修">
								igtt铝框行李箱拉杆箱旅行箱万向轮男女20/24/26寸密码箱登机箱子 铝合金框 加强密码锁 万向轮 终身保修
							</div>
							<div class="no_eprice">
								<em>¥</em>555.00
							</div>
						</a>
					</li>
					<li class="opacity_img1">
						<a href="goodsInfo.html" target="displayArea">
							<div class="p_img">
								<img src="../static/user/images/no_enough6.jpg" />
							</div>
							<div class="no_ename" title="波米铝框拉杆箱万向轮密码旅行箱子20/24寸行李箱女登机箱男26/28 顺丰速运赠运费险赠十礼品终身质保">
								波米铝框拉杆箱万向轮密码旅行箱子20/24寸行李箱女登机箱男26/28 顺丰速运赠运费险赠十礼品终身质保
							</div>
							<div class="no_eprice">
								<em>¥</em>555.00
							</div>
						</a>
					</li>
					<li class="opacity_img1">
						<a href="goodsInfo.html" target="displayArea">
							<div class="p_img">
								<img src="../static/user/images/no_enough7.jpg" />
							</div>
							<div class="no_ename" title="2016秋冬季新款尖头粗跟短靴女高跟真皮加绒中跟马丁靴女靴子女鞋 优质全头层牛皮，品质女鞋">
								2016秋冬季新款尖头粗跟短靴女高跟真皮加绒中跟马丁靴女靴子女鞋 优质全头层牛皮，品质女鞋
							</div>
							<div class="no_eprice">
								<em>¥</em>555.00
							</div>
						</a>
					</li>
					<li class="opacity_img1">
						<a href="goodsInfo.html" target="displayArea">
							<div class="p_img">
								<img src="../static/user/images/no_enough8.jpg" />
							</div>
							<div class="no_ename" title="创意真皮床双人床现代婚床1.8米1.5榻榻米床储物床皮艺床软床大床 床侧储物 升降靠背 双ll价格 更低">
								创意真皮床双人床现代婚床1.8米1.5榻榻米床储物床皮艺床软床大床 床侧储物 升降靠背 双ll价格 更低
							</div>
							<div class="no_eprice">
								<em>¥</em>555.00
							</div>
						</a>
					</li>
					<li class="opacity_img1">
						<a href="goodsInfo.html" target="displayArea">
							<div class="p_img">
								<img src="../static/user/images/no_enough9.jpg" />
							</div>
							<div class="no_ename" title="韩都衣舍2017韩版女装新款黑白拼接插肩棒球服春季短外套HH5597妠 朴信惠同款 黑白拼接 插肩袖 棒球服">
								韩都衣舍2017韩版女装新款黑白拼接插肩棒球服春季短外套HH5597妠 朴信惠同款 黑白拼接 插肩袖 棒球服
							</div>
							<div class="no_eprice">
								<em>¥</em>555.00
							</div>
						</a>
					</li>
					<li class="opacity_img1">
						<a href="goodsInfo.html" target="displayArea">
							<div class="p_img">
								<img src="../static/user/images/no_enough10.jpg" />
							</div>
							<div class="no_ename" title="秋季新款男士套头卫衣印花外套韩版简约百搭潮流男生上衣服">
								秋季新款男士套头卫衣印花外套韩版简约百搭潮流男生上衣服 
							</div>
							<div class="no_eprice">
								<em>¥</em>555.00
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<!--右侧红包栏-->
		<div class="bk_foot_redbag">
			<a href="javascript:void(0)" id="red_bag">
				<img src="../static/user/images/red_package.png" width="100%" alt="">
			</a>
			<span class="closehd"></span>
		</div>
		<div class="red_bag">
			<span class="hide font"><label for="">10</label>元红包砸中了您</span><br />
			<button class="hide font" id="ensure">确定</button>
		</div>
		
	</body>
	<script type="text/javascript" src="../static/user/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/user/js/kuCity.js"></script>
	<script type="text/javascript" src="../static/user/js/jquery.SuperSlide.js"></script>
	<script type="text/javascript" src="../static/user/js/slide.js"></script>
	<script>
		$('.li_dorpdown').hover(function() {
			$('.dorpdown-layer').show();
		});
		$('.li_dorpdown').mouseleave(function() {
			$('.dorpdown-layer').hide();
		});
		$('.icon-close').click(function() {
			$('.top_banner').hide();
		});
		$('.my_center_box_left a').hover(function() {
				
		});
		$('.cate-layer-right-slide img').mouseenter(function() {
				
			$(this).delay('300').animate(300);
		});
		$('.cate-layer-right-slide img').mouseleave(function() {
			$(this).css('border', 'none')
		});
		$()
		
		$(function() {
		
			$("div.ranklist").myScroll({
				speed: 50,
				rowHeight: 50
			});
		
		});
		$(".closehd").click(function() { //右下角红包图标点击变小
			$(this).hide();
			$('.bk_foot_redbag a').animate({
				width: '80px',
				height: '100px'
			});
		});
		$('#red_bag').click(function(){
			$(this).hide();
			$('.closehd').hide();
			$('.font').show();
			$('.font').css('display','inline-block')
			$('.red_bag').animate({
				width:'400px',
				height:'300px'
			});
		});
		$('#ensure').click(function(){
			$('.red_bag').fadeOut();
		});
	</script>
	<script>
		$('.search').kuCity();
		$("#lun2").slide({
			autoplay: true,
			autoTime: 5000,
		});
	</script>
	<!--滚动展示-->
	<script type="text/javascript">
		(function($) {

			$.fn.myScroll = function(options) {
				//默认配置
				var defaults = {
					speed: 50, //滚动速度,值越大速度越慢
					rowHeight: 50 //每行的高度
				};

				var opts = $.extend({}, defaults, options),
					intId = [];

				function marquee(obj, step) {

					obj.find("ul").animate({
						marginTop: '-=1'
					}, 0, function() {
						var s = Math.abs(parseInt($(this).css("margin-top")));
						if(s >= step) {
							$(this).find("li").slice(0, 1).appendTo($(this));
							$(this).css("margin-top", 0);
						}
					});
				}

				this.each(function(i) {
					var sh = opts["rowHeight"],
						speed = opts["speed"],
						_this = $(this);
					intId[i] = setInterval(function() {
						if(_this.find("ul").height() <= _this.height()) {
							clearInterval(intId[i]);
						} else {
							marquee(_this, sh);
						}
					}, speed);

					_this.hover(function() {
						clearInterval(intId[i]);
					}, function() {
						intId[i] = setInterval(function() {
							if(_this.find("ul").height() <= _this.height()) {
								clearInterval(intId[i]);
							} else {
								marquee(_this, sh);
							}
						}, speed);
					});

				});

			}

		})(jQuery);
	</script>

</html>