<!doctype html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" href="css/slide.css" />
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
	</head>

	<body>
		<div class="top_banner">
			<div class="module w1200">
				<a href="javascript:">
					<img src="images/active.jpg" />
					<i class="icon-close"><img src="images/close.png"/></i>
				</a>
			</div>
		</div>
		<div class="site-nav" id="site-nav">
			<div class="w w1200">
				<div class="fl">
					<div class="city-choice" id="city-choice" data-ectype="dorpdown">
						<div class="dsc-choie dsc-cm" ectype="dsc-choie">
							<img src="images/place.png" class="place" />
							<input type="text" value="云南" class="search" />
						</div>

					</div>
					<div class="txt-info" id="ECS_MEMBERZONE">
						<a href="login.html" class="link-login red" target="displayArea">请登录</a>
						<a href="register.html" class="link-regist" target="displayArea">免费注册</a>
					</div>
				</div>
				<ul class="quick-menu fr">
					<li>
						<div class="dt">
							<a href="myOrder.html" target="displayArea">我的订单</a>
						</div>
					</li>
					<li class="spacer"></li>
					<li>
						<div class="dt">
							<a href="looking.html" target="displayArea">我的浏览</a>
						</div>
					</li>
					<li class="spacer"></li>
					<li>
						<div class="dt">
							<a href="my.html" target="displayArea">个人中心</a>
						</div>
					</li>
					<li class="spacer"></li>
					<li>
						<div class="dt">
							<a href="doing.html" target="displayArea">客户服务</a>
						</div>
					</li>
					<li class="spacer"></li>
					
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<div class="header">
			<div class="header_container">
				<div class="logo fl">
					<img src="images/logo.png" />
					<a href="#"><img src="images/ecsc-join.gif" /></a>
				</div>
				<div class="dsc-search">
					<div class="form">
						<form class="search-form">
							<input name="keywords" type="text" id="keyword" value="" class="search-text" style="color: rgb(153, 153, 153);">
							<button type="submit" class="button button-goods">搜商品</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="nav" ectype="dscNav">
			<div class="w w1200">
				<div class="nav-main" id="nav">
					<ul class="navitems">
						<li>
							<a href="home.html" class="curr" target="displayArea">首页</a>
						</li>
						<li>
							<a href="allList.html" target="displayArea">所有商品</a>
						</li>
						<li>
							<a href="kill.html" target="displayArea" >限时抢购</a>
						</li>
						<li>
							<a href="kill_befor.html" target="displayArea">即将开始</a>
						</li>
						<li>
							<a href="doing.html" target="displayArea">建设中</a>
						</li>
						
						
					</ul>
				</div>
			</div>
		</div>
		<div class="slide" id="lun2" style="">
			<div class="carouse" style="min-width: 1200px;position:relative;margin-top: 0px;">
				<div class="slideItem">
					<a href="#" target="_blank"><img class="banner-img" src="images/banner4.jpg" style="height: 500px;"></a>
				</div>
				<div class="slideItem">
					<a href="#" target="_blank"><img class="banner-img" src="images/banner5.jpg" style="height: 500px;"></a>
				</div>
				<div class="slideItem">
					<a href="#" target="_blank"><img class="banner-img" src="images/banner6.jpg" style="height: 500px;"></a>
				</div>
				<!--<a class="carousel-control left Next"></a>
				<a class="carousel-control right Previous"></a>-->
			</div>
		</div>
		
		<iframe src="home.html"	 name="displayArea" width="100%" height="100%" scrolling="no" id="displayArea" frameborder="0"></iframe>
		
		
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html" target="displayArea">
			<dl class="goCart">
				<dt><img src="images/gt1.png"/></dt>
				<dd>去购<br/>物车</dd>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="images/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="my.html" target="displayArea">
			<dl>
				<dt><img src="images/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none;">
			<dl>
				<dt><img src="images/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<div class="msk"></div>
		<!-- 底部-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot1.png"/></a>
						<span class="fl">7天无理由退货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot2.png"/></a>
						<span class="fl">15天免费换货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot3.png"/></a>
						<span class="fl">满599包邮</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot4.png"/></a>
						<span class="fl">手机特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">最家家居&copy;2013-2017公司版权所有 京ICP备080100-44备0000111000号<br />
			违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
		</div>
		
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/kuCity.js"></script>
		<script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
		<script type="text/javascript" src="js/slide.js"></script>
			<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script>
			function reinitIframe() {
			var iframe = document.getElementById("displayArea");
			try {
				var bHeight = iframe.contentWindow.document.body.scrollHeight;
				var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
				var height = Math.min(bHeight, dHeight);
				iframe.height = height;
				
				} catch (ex) { }
			}
			window.setInterval("reinitIframe()", 20);
			
			$('.li_dorpdown').hover(function() {
				$('.dorpdown-layer').show();
			});
			$('.li_dorpdown').mouseleave(function() {
				$('.dorpdown-layer').hide();
			});
			$('.icon-close').click(function() {
				$('.top_banner').hide();
			});
			$('.my_center_box_left a').hover(function() {
			
			});
			$('.cate-layer-right-slide img').mouseenter(function() {
			
				$(this).delay('300').animate(300);
			});
			$('.cate-layer-right-slide img').mouseleave(function() {
				$(this).css('border', 'none')
			});
			$()
		</script>
		
</html>		