<!doctype html>
<html style="height: 500px;">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=0.1,user-scalable=yes">
		<meta http-equiv ="Content-Security-Policy" content="upgrade-insecure-requests">
		<title>秒杀</title>
		<link rel="stylesheet" type="text/css" href="../static/user/css/base.css" />
		<link rel="stylesheet" type="text/css" href="../static/user/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../static/user/css/sec_kill.css" />
		<link rel="stylesheet" href="../static/user/css/slide.css" />
	</head>

	<body style="height: 500px;">
		<div class="seckill"></div>
		<div class="w1200_container">
			<div class="sec_kill_goods">
				<div class="tab_content">
					<div class="skill_warp sel hide">
						<ul class="skill_goods_list" id = "getBefore">
						</ul>
					</div>
				</div>

			</div>
			
		</div>
		<div class="clear"></div>
		
		<!--右侧红包栏-->
			<div class="bk_foot_redbag">
				<a href="javascript:void(0)" id="red_bag">
					<img src="../static/user/imgs/red_package.png" width="100%" alt="">
				</a>
				<span class="closehd"></span>
			</div>
			<div class="red_bag">
				<span class="hide font"><label for="">10</label>元红包砸中了您</span><br />
				<button class="hide font" id="ensure">确定</button>
			</div>
			
		</body>
		<script type="text/javascript" src="../static/user/js/jquery.min.js"></script>
		<script type="text/javascript" src="../static/user/js/kuCity.js"></script>
		<script type="text/javascript" src="../static/user/js/jquery.SuperSlide.js"></script>
		<script type="text/javascript" src="../static/user/js/slide.js"></script>
		<script type="application/javascript" src="../static/user/js/jquery.cookie.js"></script>
		<script type="application/javascript" charset="UTF-8" src = "../static/user/myjs/kill_befor.js"></script>

</html>