<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>我的订单</title>
		<link rel="stylesheet" type="text/css" href="../static/user/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="../static/user/css/myorder.css" />
	</head>
	<body>
		<div class="address mt" style="margin-top: 0px;">
			<div class="wrapper clearfix">
				<a href="#" class="fl">首页</a>
				<span>/</span>
				<a href="mygxin.html">个人中心</a>
				<span>/</span>
				<a href="myOrder" class="on">我的订单</a>
			</div>
		</div>	
		
		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix" style="margin-right: 0px; margin-left: 5%;">
				<div class="zuo fl">
					<h3>
						<a href="#" ><img src="../static/user/img/tx.png"/></a>
						<p class="clearfix"><span class="fl">[羊羊羊]</span><span class="fr">[退出登录]</span></p>
					</h3>
					<div>
						<h4>我的交易</h4>
						<ul>
							<li><a href="cart.html" target="myinfo">我的购物车</a></li>
							<li><a href="myOrder.html"  target="myinfo">我的订单</a></li>
							<li><a href="myProd.html" target="myinfo">评价晒单</a></li>
						</ul>
						<h4>个人中心</h4>
						<ul>
							<li><a href="myCenter.html" target="myinfo">我的中心</a></li>
							<li><a href="address.html"  target="myinfo" >地址管理</a></li>
						</ul>
						<h4>账户管理</h4>
						<ul>
							<li  class="on"><a href="myInfo.html"  target="myinfo">个人信息</a></li>
						</ul>
					</div>
					
				</div>	
				<iframe src="myCenter.html" onload="setIframeHeight(this)"  name="myinfo" width="80%" height="100%" scrolling="no" id="myinfo" frameborder="0"></iframe>
			</div>
			
		</div>
		
		<script src="../static/user/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/user/js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/user/js/user.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function setIframeHeight(iframe) {
				if(iframe) {
					var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
					if(iframeWin.document.body) {
						iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
					}
				}
			};
			
			window.onload = function() {
			setIframeHeight(document.getElementById('myinfo'));
			};
		</script>
	</body>
</html>
