<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>我的中心</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/mygxin.css" />
	</head>
	<body>
		<div class="Bott">
			<div class="wrapper clearfix">
				
				<div class="you fl">
					<div class="tx clearfix">
						<div class="fl clearfix">
							<a href="#" class="fl"><img src="img/tx.png"/></a>
							<p class="fl"><span>六六六</span><a href="mygrxx.html">修改个人信息></a></p>
						</div>
						<div class="fr">绑定邮箱：12****4@**.com</div>
					</div>
					<div class="bott">
						<div class="clearfix">
							<a href="#" class="fl"><img src="img/gxin1.jpg"/></a>
							<p class="fl"><span>待支付的订单：<strong>0</strong></span>
								<a href="myOrder">查看待支付订单></a>
							</p>
						</div>
						<div class="clearfix">
							<a href="#" class="fl"><img src="img/gxin2.jpg"/></a>
							<p class="fl"><span>待收货的订单：<strong>0</strong></span>
								<a href="myOrder">查看待收货订单></a>
							</p>
						</div>
						<div class="clearfix">
							<a href="#" class="fl"><img src="img/gxin3.jpg"/></a>
							<p class="fl"><span>待评价的订单：<strong>0</strong></span>
								<a href="myprod.html">查看待评价订单></a>
							</p>
						</div>
						<div class="clearfix">
							<a href="#" class="fl"><img src="img/gxin4.jpg"/></a>
							<p class="fl"><span>购物车商品：<strong>0</strong></span>
								<a href="#">购物车商品></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<iframe src="" onload="setIframeHeight(this)"  name="mycenter" width="100%" height="100%" scrolling="no" id="mycenter" frameborder="0"></iframe>
		<script type="text/javascript">
			function setIframeHeight(iframe) {
				if(iframe) {
					var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
					if(iframeWin.document.body) {
						iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
					}
				}
			};
			
			window.onload = function() {
			setIframeHeight(document.getElementById('displayArea'));
			};
		</script>
	</body>
</html>
