<!doctype html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>搜索失败</title>	
		<link rel="stylesheet" type="text/css" href="../static/user/css/style.css" />
	</head>

	<body>
		<div class="clear"></div>
		
		<div class="w1200_container" style="min-height: 450px;">
			<div class="no_search">
				<img src="../static/user/images/none1.jpg" />
				<a href="index.html">返回首页</a>
			</div>
			<div class="back_index">
				
			</div>
			<div class="clear"></div>
			
			
		</div>
		
	</body>
	

</html>