<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../static/user/css/style.css" />
		<link rel="stylesheet" href="../static/user/css/base.css" />
		<title>注册</title>
	</head>

	<body>
		<div class="register_con">
			<div class="register_conr">
				<div class="register">
					<h5 class="personal active1">个人注册</h5>
				</div>
				<div class="clear"></div>
				<div class="user per_register">
					<span>用户名：</span>
					<img src="../static/user/images/user.png" class="psw" style="margin-top: 10px;" />
					<input type="text" name="user" id="IDnum" class="input_comm" placeholder="请输入用户名" style="margin-top: 0px;">
					<br />
					<span>密码：</span>
					<img src="../static/user/images/password.png" class="psw" />
					<input type="password" name="password" id="password" class="input_comm" placeholder="请至少使用两种字符组合" />
					<br />
					<span>确认密码：</span>
					<img src="../static/user/images/password.png" class="psw" />
					<input type="password" name="password" id="password" class="input_comm" placeholder="请确认密码" />
					<br />
					<span>手机号：</span>
					<img src="../static/user/images/phone.png" class="psw" />
					<input type="text" name="phone" id="phone" class="input_comm" placeholder="手机号" />
					<br />
					<span>邮箱：</span>
					<img src="../static/user/images/email.png" class="psw"  />
					<input type="email" name="email" class="input_comm" placeholder="请输入邮箱" />
					<button class="quire_yzm">获取验证码</button>
					<br />
					<span>验证码：</span>
					<input type="text" name="yanzhengma" class="yanzhengma" placeholder="请输入验证码" />
					<img src="../static/user/images/yanzhengma.png" class="yanzheng" />
					<p class="change fr">
						<a href="#">看不清楚 再换一张</a>
					</p>
					<div class="clear"></div>
					<!--<input type="checkbox" name="jizhu" value="记住账号和密码" class="bark"/><span class="bark1">记住账号和密码</span>
						<span class="forget fr"><a href="#">忘记密码</a></span>-->
					<input type="button" name="denglu" value="注   册" class="btn_register" />
				</div>
				<span class="forget fr">已有账号？<a href="login.html">请登录</a></span>
			
			</div>
			<div class="clear"></div>
		</div>
	</body>
	<script src="../static/user/js/jquery.min.js"></script>
	<script src="../static/user/js/kuCity.js"></script>
	<script>
		$('.business').click(function() {
			$('.business_register').show();
			$('.per_register').hide();
			$(this).addClass('active1').removeClass('cancel');
			$('.personal').addClass('cancel').removeClass('active1');
		});
		$('.personal').click(function() {
			$('.business_register').hide();
			$('.per_register').show();
			$(".business").addClass('cancel').removeClass('active1');
			$(this).addClass('active1').removeClass('cancel');
		});
	</script>
	<script>
		$('.search').kuCity();
	</script>
</html>