
<html style="height: 1150px;">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.1,user-scalable=yes">
		<meta http-equiv ="Content-Security-Policy" content="upgrade-insecure-requests">
		<link rel="stylesheet" href="../static/user/css/style.css" />
		<link rel="stylesheet" href="../static/user/css/base.css" />
		<title>注册</title>
	</head>

	<body style="height: 1150px;">
		<div class="register_con">
			<div class="register_conr">
				<div class="register">
					<h5 class="personal active1">个人注册</h5>
				</div>
				<div class="clear"></div>
				<div class="user per_register">
					<form  role="form" id="regoster" name="regoster" enctype="application/x-www-form-urlencoded"
									action="https://test.wslhome.top/login/addUser/v1" method="post" accept-charset="utf-8">
						<span>账号：</span>
						<img src="../static/user/imgs/user.png" class="psw" style="margin-top: 10px;" />
						<input type="text" name="name" id="name" class="input_comm" placeholder="请输入用户名" style="margin-top: 0px;">
						<br />
						<span>密码：</span>
						<img src="../static/user/imgs/password.png" class="psw" />
						<input type="password" name="password" id="password" class="input_comm" placeholder="请至少使用两种字符组合" />
						<br />
						<span>确认密码：</span>
						<img src="../static/user/imgs/password.png" class="psw" />
						<input type="password" name="password1" id="password1" class="input_comm" placeholder="请确认密码" />
						<br />
						<span>用户昵称：</span>
						<img src="../static/user/imgs/user.png" class="psw" />
						<input type="text" name="nickName" id="nickName" class="input_comm" placeholder="请输入您的昵称" />
						<br />
						<span>用户姓名：</span>
						<img src="../static/user/imgs/user.png" class="psw"  />
						<input type="email" ID= "realName" name="realName" class="input_comm" placeholder="请输入用户姓名" />
						<br />
						<span>身份证号：</span>
						<img src="../static/user/imgs/email.png" class="psw" />
						<input type="text" name="idCard" id = "idCard" class="input_comm" placeholder="请输入18位身份证号" />
						<br />
						<span>性别：</span>
						
						<select type="text" style="text-align: center;" name="sex" id="sex" class="yanzhengma" >
							<option value="0">男</option>
							<option value="1">女</option>
						</select>
						<br />
						<span>手机号：</span>
						<img src="../static/user/imgs/phone.png" class="psw" />
						<input type="text" name="phone" id="phone" class="input_comm" placeholder="手机号" />
						<br />
						<span>邮箱：</span>
						<img src="../static/user/imgs/email.png" class="psw"  />
						<input type="email" name="email" id="email" class="input_comm" placeholder="请输入邮箱" />
						<br />
						<span>微信号：</span>
						<img src="../static/user/imgs/email.png" class="psw"  />
						<input type="text" name="weChat" id="weChat" class="input_comm" placeholder="若没有,可不填" />
						<br />
						<span>支付宝：</span>
						<img src="../static/user/imgs/email.png" class="psw"  />
						<input type="text" name="apply" id="apply" class="input_comm" placeholder="若没有,可不填" />
						<br />
						<span>验证码：</span>
						<input type="text" name="codes" id= "codes" class="yanzhengma" placeholder="请输入验证码" />
						<img onclick="javascript:{this.src = 'https://test.wslhome.top/verify/getJpg/v1?id=' + Math.random();}" src="https://test.wslhome.top/verify/getJpg/v1">
						<div class="clear"></div>
						<input type="button" name="denglu" id = "denglu" value="注   册" class="btn_register" />
					</form>
				</div>
				<span class="forget fr">已有账号？<a href="login.html">请登录</a></span>
			</div>

		</div>
	</body>
	<script src="../static/user/js/jquery.min.js"></script>
	<script src="../static/user/js/jquery.cookie.js" type="application/javascript"></script>
	<script src="../static/user/js/jquery.form.js" type="application/javascript"></script>
	<script type="application/javascript" src="../static/user/myjs/register.js" charset="UTF-8"></script>

</html>
