<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		
		<title>header</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/myorder.css" />
	</head>
	<body style="margin:0; padding:0;">
		<!------------------------------head------------------------------>
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="img/logo.png"/></a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl">
							<a href="login.html" id="login" target="displayArea">登录</a>
							<a href="reg.html" id="reg" target="displayArea">注册</a>
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="搜索" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="my.html" target="displayArea"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html" target="displayArea"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
					<li><a href="home.html" target="displayArea">首页</a></li>
					<li>
						<a href="#">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="allList.html"  target="displayArea">
									<dl>
										<dt><img src="img/nav1.jpg"/></dt>
										<dd>电脑</dd>
									</dl>
								</a>
								<a href="allList.html"  target="displayArea">
									<dl>
										<dt><img src="img/nav2.jpg"/></dt>
										<dd>手机</dd>
									</dl>
								</a>
								<a href="allList.html"  target="displayArea">
									<dl>
										<dt><img src="img/nav3.jpg"/></dt>
										<dd>平板</dd>
									</dl>
								</a>
								<a href="allList.html"  target="displayArea">
									<dl>
										<dt><img src="img/nav6.jpg"/></dt>
										<dd>配件</dd>
									</dl>
								</a>
								<a href="allList.html"  target="displayArea">
									<dl>
										<dt><img src="img/nav7.jpg"/></dt>
										<dd>创意装饰</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li><a href="kill.html"  target="displayArea">限时秒杀</a></li>
					<li><a href="killBegin.html"  target="displayArea">即将开始</a></li>
				</ul>
			</div>
		</div>
		<iframe src="home.html"	 name="displayArea" width="100%" height="100%" scrolling="no" id="displayArea" frameborder="0"></iframe>
		
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html" target="displayArea">
			<dl class="goCart">
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br/>物车</dd>
				<span>1</span>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="my.html" target="displayArea">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none;">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<div class="msk"></div>
		<!--footer-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot1.png"/></a>
						<span class="fl">7天无理由退货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot2.png"/></a>
						<span class="fl">15天免费换货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot3.png"/></a>
						<span class="fl">满599包邮</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot4.png"/></a>
						<span class="fl">手机特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">最家家居&copy;2013-2017公司版权所有 京ICP备080100-44备0000111000号<br />
			违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
		</div>
	</body>
	<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/nav.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.flexslider-min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		
		function reinitIframe() {
		var iframe = document.getElementById("displayArea");
		try {
		var bHeight = iframe.contentWindow.document.body.scrollHeight;
		var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
		var height = Math.min(bHeight, dHeight);
		iframe.height = height;
		
		} catch (ex) { }
		
		}
		window.setInterval("reinitIframe()", 20);
	</script>
</html>
