<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>即将开始</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/idea.css" />
	</head>
	<body>
	<!------------------------------idea------------------------------>
		<div class="address">
			<div class="wrapper clearfix">
				<a href="index.html" class="fl">首页</a>
				<span>/</span>
				<a href="idea.html" class="on">创意家居</a>
			</div>
		</div>
		<!------------------------------imgList1------------------------------>
		<div class="imgList1">
			<div class="wrapper">
				<div class="box1">
					<a href="proDetail.html" class="banner"><img src="img/idea1.jpg"/></a>
					<ul>
						<li><a href="proDetail.html">
								<dl>
									<dt><img src="img/idea2.jpg"/></dt>
									<dd>【最家】创意家居饰品工艺品装饰三口之家</dd>
									<dd>¥199.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html">
								<dl>
									<dt><img src="img/idea3.jpg"/></dt>
									<dd>【最家】创意家居饰品工艺品装饰三口鹿摆设</dd>
									<dd>¥78.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html">
								<dl>
									<dt><img src="img/idea4.jpg"/></dt>
									<dd>【最家】简约欧式装饰五彩缤纷花朵</dd>
									<dd>¥19.00</dd>
								</dl>
							</a>
						</li>
					</ul>
					<ul>
						<li><a href="proDetail.html">
								<dl>
									<dt><img src="img/idea5.jpg"/></dt>
									<dd>【最家】客厅餐桌创意插花桌面摆件</dd>
									<dd>¥52.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html">
								<dl>
									<dt><img src="img/idea6.jpg"/></dt>
									<dd>【最家】简约欧式陶瓷花瓶三件套</dd>
									<dd>¥22.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html">
								<dl>
									<dt><img src="img/idea7.jpg"/></dt>
									<dd>【最家】简约可爱创意玻璃水杯</dd>
									<dd>¥22.00</dd>
								</dl>
							</a>
						</li>
					</ul>
					<ul>
						<li><a href="proDetail.html">
								<dl>
									<dt><img src="img/idea8.jpg"/></dt>
									<dd>【最家】简约可爱创意玻璃拼盘</dd>
									<dd>¥33.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html">
								<dl>
									<dt><img src="img/idea9.jpg"/></dt>
									<dd>【最家】创意亲嘴鱼陶瓷装饰摆件</dd>
									<dd>¥99.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html">
								<dl>
									<dt><img src="img/idea10.jpg"/></dt>
									<dd>【最家】创意多彩种子收纳摆件</dd>
									<dd>¥49.00</dd>
								</dl>
							</a>
						</li>
					</ul>
				</div>
				<h2><img src="img/ih5.jpg"/></h2>
				<div class="box2">
					<a href="proDetail.html" class="banner"><img src="img/idea22.jpg"/></a>
					<ul>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id1.jpg"/></dt>
									<dd>【最家】时尚家居摆件简约创意装饰品</dd>
									<dd>¥98.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id2.jpg"/></dt>
									<dd>【最家】时尚家居摆件简约创意装饰品</dd>
									<dd>¥98.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id3.jpg"/></dt>
									<dd>【最家】时尚家居摆件简约创意装饰品</dd>
									<dd>¥98.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id4.jpg"/></dt>
									<dd>【最家】时尚家居摆件简约创意装饰品</dd>
									<dd>¥98.00</dd>
								</dl>
							</a>
						</li>
					</ul>
					<ul>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id5.jpg"/></dt>
									<dd>【最家】时尚家居摆件简约创意装饰品</dd>
									<dd>¥98.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id6.jpg"/></dt>
									<dd>【最家】时尚家居摆件简约创意装饰品</dd>
									<dd>¥98.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id7.jpg"/></dt>
									<dd>【最家】时尚家居摆件简约创意装饰品</dd>
									<dd>¥98.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id8.jpg"/></dt>
									<dd>【最家】时尚家居摆件简约创意装饰品</dd>
									<dd>¥98.00</dd>
								</dl>
							</a>
						</li>
					</ul>
				</div>
				<h2><img src="img/ih6.jpg"/></h2>
				<div class="box3">
					<ul>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id9.jpg"/></dt>
									<dd>【最家】创意摆件自行车复古</dd>
									<dd>¥288.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id10.jpg"/></dt>
									<dd>【最家】创意女孩秋千公主荡秋千</dd>
									<dd>¥200.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id11.jpg"/></dt>
									<dd>【最家】创意墙式挂饰水瓶</dd>
									<dd>¥50.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id12.jpg"/></dt>
									<dd>【最家】创意两只鹿</dd>
									<dd>¥99.00</dd>
								</dl>
							</a>
						</li>
					</ul>
					<ul>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id13.jpg"/></dt>
									<dd>【最家】创意两只小象</dd>
									<dd>¥170.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id14.jpg"/></dt>
									<dd>【最家】简约客厅电视现代中式家居摆件</dd>
									<dd>¥179.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id15.jpg"/></dt>
									<dd>【最家】创意样板房树脂工艺品</dd>
									<dd>¥188.00</dd>
								</dl>
							</a>
						</li>
						<li><a href="proDetail.html" class="on">
								<dl>
									<dt><img src="img/id16.jpg"/></dt>
									<dd>【最家】创意笔筒小象</dd>
									<dd>¥30.00</dd>
								</dl>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		
		
		<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/nav.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
