<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsl.shoppingKill.mapper.AfterSalesMapper">
  <resultMap id="BaseResultMap" type="com.wsl.shoppingKill.domain.AfterSales">
    <!--@mbg.generated-->
    <!--@Table t_after_sales-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="result_detail" jdbcType="VARCHAR" property="resultDetail" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
    <result column="result" jdbcType="BOOLEAN" property="result" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
  </resultMap>

  <select id="getAfterSalesAll" resultType="com.wsl.shoppingKill.obj.vo.AfterSalesVO">
    select tas.id, tas.order_id, tas.admin_id, tas.detail, tas.result_detail,tas.type, tas.deal_time, tas.result,
            tor.user_id, tor.sku_id, tor.num, tor.pay_price
    from t_after_sales tas
    left join t_order tor on tor.id = tas.order_id
    <where>
        <if test="afterSalesParam.id != null">
          <bind name="Ids" value="'%'+param1.id+'%'"/>
          tas.id like #{Ids}
        </if>
        <if test="afterSalesParam.orderId != null and afterSalesParam.orderId != ''">
         <bind name="orderId" value="'%' + afterSalesParam.orderId + '%'" />
           AND tas.order_id like #{orderId}
        </if>
        <if test="afterSalesParam.type != null and afterSalesParam.type != ''">
          AND tas.type = #{afterSalesParam.type}
        </if>
      <if test="afterSalesParam.result != null">
        AND tas.result = #{afterSalesParam.result}
      </if>
      AND tas.del_flag = 0
    </where>


  </select>
</mapper>