<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsl.shoppingKill.mapper.AppraisalMapper">
  <resultMap id="BaseResultMap" type="com.wsl.shoppingKill.domain.Appraisal">
    <!--@mbg.generated-->
    <!--@Table t_appraisal-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
  </resultMap>

</mapper>