<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsl.shoppingkill.mapper.AppraisalMapper">
  <resultMap id="BaseResultMap" type="com.wsl.shoppingkill.domain.Appraisal">
    <!--@mbg.generated-->
    <!--@Table t_appraisal-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
  </resultMap>

  <select id="getAppraisalAll" resultType="com.wsl.shoppingkill.obj.vo.AppraisalVO">
    select ta.*, tu.name as userName,tu.nick_name as userNickName,tg.name as goodsName
    from t_appraisal ta
    left join t_user tu on ta.user_id = tu.id
    left join t_order to2 on to2.id = ta.order_id
    left join t_sku ts on ts.id = to2.sku_id
    left join t_goods tg on ts.goods_id = tg.id
    <where>
      <if test="appraisal.id != null">
        <bind name="ta_id" value="'%' +appraisal.id+'%'" />
        and ta.id like #{ta_id}
      </if>
      <if test="appraisal.goodsName != null and appraisal.goodsName != ''">
        <bind name="tg_name" value="'%' + appraisal.goodsName + '%'"/>
        and tg.name like #{tg_name}
      </if>
      <if test="appraisal.userName != null and appraisal.userName != ''">
        <bind name="tu_name" value="'%' + appraisal.userName + '%'"/>
        and tu.name like #{tu_name}
      </if>
      AND ta.del_flag = 0
    </where>
  </select>


</mapper>