<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsl.shoppingKill.mapper.EvaluateMapper">
  <resultMap id="BaseResultMap" type="com.wsl.shoppingKill.entity.Evaluate">
    <!--@mbg.generated-->
    <!--@Table t_evaluate-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `text`, goods_id, member_id, img, grade, creat_time, update_time
  </sql>

</mapper>