<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsl.shoppingkill.mapper.LoginMapper">
  <select id="login" resultType="com.wsl.shoppingkill.obj.bo.UserBO">
    select tt.id,tt.nick_name as name,tt.img as url

    <if test="type != null and type == 0">
      from t_user tt
     </if>
     <if test="type != null and type == 1">
         ,tt.flag
         from t_admin tt
     </if>
     <where>
       <if test="name != null and name != ''">
         name = #{name}
       </if>
       <if test="phone != null and phone != ''">
         phone = #{phone}
       </if>
       and password = #{password}
       and del_flag = 0 limit 1
     </where>
  </select>
  

</mapper>