<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsl.shoppingKill.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.wsl.shoppingKill.domain.Order">
        <!--@mbg.generated-->
        <!--@Table t_order-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="sku_id" jdbcType="INTEGER" property="skuId"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="order_time" jdbcType="TIMESTAMP" property="orderTime"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime"/>
        <result column="pay_type" jdbcType="INTEGER" property="payType"/>
        <result column="address_id" jdbcType="INTEGER" property="addressId"/>
        <result column="pay_price" jdbcType="DECIMAL" property="payPrice"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del_flag" jdbcType="BOOLEAN" property="delFlag"/>
    </resultMap>

    <select id="getAllOrder" resultType="com.wsl.shoppingKill.obj.vo.OrderVO">
        select to2.id,
               tu.nick_name,
               tu.id    as userId,
               ts.attribute,
               tg.id    as goodsId,
               tg.name  as goodsName,
               to2.num,
               to2.order_time,
               to2.pay_time,
               to2.send_time,
               to2.pay_price,
               to2.remark,
               ta.name  as sendName,
               ta.phone as sendPhone
        from t_order to2
                     left join t_sku ts on ts.id = to2.sku_id
                     left join t_address ta on to2.address_id = ta.id
                     left join t_user tu on tu.id = to2.user_id
                     left join t_goods tg on ts.goods_id = tg.id
        <where>
            <if test="order.type != null">
                to2.status = #{order.type}
            </if>
            <if test="order.id != null">
                <bind name="tId" value="'%' + order.id + '%'"/>
                AND to2.id like #{tId}
            </if>
            <if test="order.name != null and order.name != ''">
                <bind name="name" value="'%' + order.name + '%'"/>
                AND tg.name like #{name}
            </if>
            <if test="order.goodsId != null and order.goodsId != ''">
                <bind name="goodsId" value="'%' + order.goodsId + '%'"/>
                AND tg.id like #{goodsId}
            </if>
            <if test="order.nickName != null and order.nickName != ''">
                <bind name="nickName" value="'%' + order.nickName + '%'"/>
                AND tu.nick_name like #{nickName}
            </if>
            <if test="order.userId != null">
                <bind name="userId" value="'%' + order.userId + '%'"/>
                AND ta.user_id like #{userId}
            </if>
        </where>
        AND to2.del_flag = 0
    </select>

    <select id="getOrderSendInfo" resultType="com.wsl.shoppingKill.obj.bo.OrderMqBO">
        select tu.nick_name as userName, tg.name as goodsName,tu.phone, tu.email
        from t_order
                     left join t_user tu on tu.id = t_order.user_id
                     left join t_goods tg on tg.id = (select t_sku.goods_id from t_sku where t_sku.id = t_order.sku_id)
        where t_order.id = #{id}
          and t_order.del_flag = 0
    </select>
</mapper>