<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsl.shoppingkill.mapper.SkuMapper">
    <resultMap id="BaseResultMap" type="com.wsl.shoppingkill.domain.Sku">
        <!--@mbg.generated-->
        <!--@Table t_sku-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="attribute" jdbcType="VARCHAR" property="attribute"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="real_price" jdbcType="DECIMAL" property="realPrice"/>
        <result column="cost_price" jdbcType="DECIMAL" property="costPrice"/>
        <result column="sell_price" jdbcType="DECIMAL" property="sellPrice"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="warn_num" jdbcType="INTEGER" property="warnNum"/>
        <result column="exp_price" jdbcType="DECIMAL" property="expPrice"/>
        <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del_flag" jdbcType="BOOLEAN" property="delFlag"/>
    </resultMap>

    <select id="getSku" resultType="com.wsl.shoppingkill.obj.vo.SkuVO">
        select t_sku.*, tg.id as googsId, tg.name as goodsName
        from t_sku left join t_goods tg on t_sku.goods_id = tg.id
            where t_sku.id = #{id} and t_sku.del_flag = 0
    </select>

    <select id="getSkuAll" resultType="com.wsl.shoppingkill.obj.vo.SkuVO">
        select t_sku.*, tg.id as googsId, tg.name as goodsName
        from t_sku left join t_goods tg on t_sku.goods_id = tg.id
             <where>
                <if test="id != null">
                    <bind name="ids" value="'%' + id + '%'"/>
                    t_sku.id like #{ids}
                </if>
                <if test="name != null and name != ''">
                    <bind name="names" value="'%' + name + '%'"/>
                    and tg.name like #{names}
                </if>
                 and t_sku.del_flag = 0
             </where>
    </select>

    <select id="getMaxNumByActivity" resultType="java.lang.Integer">
        select num from  t_sku where id = (
                select sku_id from t_activity where t_activity.id = #{id}
        )
    </select>
</mapper>